<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servletprj25</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BasitServlet</display-name>
    <servlet-name>BasitServlet</servlet-name>
    <servlet-class>web.BasitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasitServlet</servlet-name>
    <url-pattern>/basit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DenemeServlet</display-name>
    <servlet-name>DenemeServlet</servlet-name>
    <servlet-class>web.DenemeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DenemeServlet</servlet-name>
    <url-pattern>/DenemeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigServlet</display-name>
    <servlet-name>action</servlet-name>
    <servlet-class>web.ConfigServlet</servlet-class>
        <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
    
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>/ConfigServlet</url-pattern>
  </servlet-mapping>
</web-app>